body{
    background-color: rgba(217, 175, 77, 0.894);
    font-family: 'Poppins', sans-serif;
}

links{
    margin-right: 0px;
}

header{
    background-color: rgb(211, 163, 105);
    padding: 10px;
}

section{
    background-color: rgb(211, 163, 105);
    font-size: larger;
    
}
.container{
    width: 80%;
    margin: 50px;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 10px;
}
a :hover{
    background-color: yellow
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    width: 100px;
    background: rgb(187, 187, 199);
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px opx rgba(28,0,181,0.3) ;
    
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
button:hover{
    cursor: pointer;
}
