body{
    background-color: rgba(217, 175, 77, 0.894);
}

links{
    margin-right: 0px;
}

header{
    background-color: rgb(211, 163, 105);
    padding: 10px;
}

section{
    background-color: rgb(211, 163, 105);
    font-size: larger;
    
}
